.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: black;
}
.ant-menu > .ant-menu-title-content{
  color: black;
  padding-left: 0;
}
a.link:hover {
  /*Any style you want to have link on mouse over*/
  background-color: yellow;
}
.your-active-class{
 /*Any style you want to have link that is active*/
 background-color: yellow;
 }